@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'opensans';
    src: url(./Assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.font-open{
    font-family: 'opensans';
}
.bg-landing{
    background-image: url(./Assets/Images/landing.png);
    background-position: center;
    background-size: cover;
}